@model List<Fiap.Web.Students.Models.ClientModel>






<h1>Clients</h1>
<p>
    <a asp-controller="Client" asp-action="Create">New Client</a>
</p>
<table class = "table">
    <thead>
    <tr>
        <th>Client ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birth Date</th>
        <th>Observation</th>
        <th>Representative</th>
        <th>CPF</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var client in Model)
    {
        <tr>
            <td>@client.ClientId</td>
            <td>@client.FirstName</td>
            <td>@client.LastName</td>
            <td>@client.Email</td>
            <td>@client.BirthDate</td>
            <td>@client.Observation</td>
            <td>@client.Representative?.RepresentativeName</td>
            <td>@client.Representative.Cpf</td>
            <td>
                <a  asp-controller="Client" asp-action="Edit" asp-route-id="@client.ClientId">Edit</a>
                <a  asp-controller="Client" asp-action="Visualize" asp-route-id="@client.ClientId">Details</a>
                <a  asp-controller="Client" asp-action="Delete" asp-route-id="@client.ClientId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
