@model Fiap.Web.Students.Models.ClientModel

<h1>Client Details</h1>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Client ID
        </dt>
        <dd class="col-sm-10">
            @Model.ClientId
        </dd>

        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>

        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>

        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>

        <dt class="col-sm-2">
            Birth Date
        </dt>
        <dd class="col-sm-10">
            @Model.BirthDate
        </dd>

        <dt class="col-sm-2">
            Observation
        </dt>
        <dd class="col-sm-10">
            @Model.Observation
        </dd>

        <dt class="col-sm-2">
            Representative ID
        </dt>
        <dd class="col-sm-10">
            @Model.RepresentativeId
        </dd>

        <dt class="col-sm-2">
            Representative
        </dt>
        <dd class="col-sm-10">
            @Model.Representative?.RepresentativeName
        </dd>

        <dt class="col-sm-2">
            CPF
        </dt>
        <dd class="col-sm-10">
            @Model.Representative?.Cpf
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-controller="Client" asp-route-id="@Model.ClientId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" asp-controller="Client" class="btn btn-secondary">Back</a>
</div>